.stone {
  width: 75px;
  height: 75px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.stone:hover {
  transform: scale(1.05);
}

.stone--hide {
  filter: grayscale();
}

.stone:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}