.game {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.game__btn {
  margin-bottom: 10px;
}

.game__found {
  font-size: 25px;
  color: #0083cc;
  font-weight: bold;
}

.game__total {
  font-size: 25px;
  color: #0083cc;
  font-weight: bold;
}

.game__wrapper {
  outline: 5px solid #cc6316;
  /* padding: 5px; */
  /* width: 300px; */
  /* height: 300px; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}